@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #181818;
}

:root {
    --primary: #ff1e4a;
}

input:focus {
    outline: none;
}

.container {
    padding: 40px 0;
    min-height: calc(100vh - 326px);
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* LOGO */

.logo__img--wrapper {
    width: 100px;
}

.logo__img {
    width: 100%;
}

.logo {
    transition: all 150ms ease;
}

.logo:hover {
    transform: scale(1.04);
    filter: drop-shadow(5px 5px 5px #242424);
}


/* LANDING */

#landing {
    background-image: linear-gradient(rgba(255, 0, 55, 0.08), rgba(0, 0, 0, 0.92)), url(./assets/header-bg5.jpg);
    background-size: cover;
    background-position: center;
    height: 326px;
}


/* NAV */

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 16px 24px 0 24px;
    margin: 0 auto;
}

.nav__link--anchor {
    font-size: 20px;
    font-weight: 700;
    margin: 0 24px;
    color: #fff;
    transition: all 300ms ease;
}

.nav__link--anchor:hover {
    color: #ff1e4a;
    text-decoration: underline;
    transform: translateY(-2px);
}

.nav__link--anchor-primary {
    background-color: #fff;
    color: #ff1e4a;
    padding: 12px 40px;
    border-radius: 50px;
    font-size: 16px;
    text-decoration: none !important;
    cursor: not-allowed;
}

.nav__link--anchor-primary:hover {
    background-color: #ff1e4a;
    color: #fff;
    filter: drop-shadow(5px 5px 5px #242424);
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    display: flex;
}

/* MOBILE MENU */

.btn__menu {
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: #fff;
    display: none;
    margin-right: 24px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: color 300ms ease;
}

.btn__menu:hover {
    color: #ff1e4a;
}

.menu__backdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.288);
    box-shadow: 0 8px 32px 0 rgba(78, 80, 99, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 16px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-120%);
    opacity: 0;
    transition: all 300ms ease;
}

.menu--open .menu__backdrop {
    transform: translateY(0%);
    opacity: 1;
}

.menu--open .header__input--btn {
    z-index: 0;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.menu__link {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: all 300ms ease;
}

.menu__link--primary {
    font-weight: 700;
    cursor: not-allowed;
}

.menu__link:hover {
    color: #ff1e4a;
    text-decoration: underline;
}

.menu__list {
    margin: 16px 0;
}

.btn__menu--close {
    position: absolute;
    right: -8px;
    top: 10px;
    padding: 8px;
    color: #fff;
    transform: rotate(180deg) !important;
}

/* HEADER */

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    padding: 0 32px;
}

.header__input--wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 16px;
}

.header__input {
    color: rgba(0, 0, 0, .87);
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
}

.header__input--btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 0 20px 0 8px;
    color: #ff1e4a;
    font-size: 32px;
    display: flex;
    align-items: center;
    transition: color 300ms ease;
}

.header__input--btn:hover {
    color: #c20000;
}

.header__title {
    font-size: 48px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 32px;
}


/* MOVIE-SECTION */
#movies {
    background-image: linear-gradient(#060606, #121212);
}

.movie__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 16px;
}

.movie__header--title {
    font-size: 28px;
    margin-bottom: 0;
}

#user__search {
    color: #fff;
}

.sort__container {
    display: flex;
    align-items: center;
}

select {
    background-color: #242424;
    border-radius: 4px;
    border: 1px solid #242424;
    font-size: 16px;
    height: 50px;
    padding: 0 16px;
    width: 100%;
    max-width: 250px;
    display: none;
    color: #fff;
    transition: all 150ms ease;
    cursor: pointer;
}

select:hover {
    background-color: #303030;
}


/* MOVIES */

.movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie {
    width: 25%;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.movie__img {
    transition: all 300ms ease;
    cursor: not-allowed;
    height: 350px;
    max-width: 240px;
}

.movie__img--wrapper {
    margin-bottom: 8px;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
}

.movie:hover .movie__img {
    transform: scale(1.03);
}

.movie__title {
    font-size: 20px;
    margin-bottom: 4px;
    max-width: 230px;
    text-align: center;
    color: #fff;
}

.movie__year {
    font-weight: 700;
    text-align: center;
    color: #ffffffc0;
}

.movies__not-found {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.not-found__img--wrapper {
    width: 600px;
    margin-bottom: 16px;
}

.not-found__img {
    width: 100%;
}

.not-found__title {
    font-size: 28px;
    max-width: 400px;
    text-align: center;
    margin-bottom: 16px;
    color: #fff;
}

.not-found__para {
    color: #8b8b8b;
    margin-bottom: 16px;
}

.not-found__btn {
    border: none;
    background-color: #ff1e4a;
    color: #fff;
    border-radius: 50%;
    font-size: 32px;
    width: 50px;
    height: 50px;
    transition: all 800ms;
}

.not-found__btn:hover {
    background-color: #c20000;
    transform: rotate(360deg);
    cursor: pointer;
}

/* LOADING */

/**
  * Building blocks
  *
  * @author jh3y - jheytompkins.com
*/

@-webkit-keyframes building-blocks {

    0%,
    20% {
        opacity: 0;
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }

    30%,
    70% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    90%,
    100% {
        opacity: 0;
        -webkit-transform: translateY(300%);
        transform: translateY(300%);
    }
}

@keyframes building-blocks {

    0%,
    20% {
        opacity: 0;
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }

    30%,
    70% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    90%,
    100% {
        opacity: 0;
        -webkit-transform: translateY(300%);
        transform: translateY(300%);
    }
}

.building-blocks {
    margin-top: 16%;
    position: relative;
}

.building-blocks div {
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
}

.building-blocks div:after {
    -webkit-animation: building-blocks 2s ease infinite backwards;
    animation: building-blocks 2s ease infinite backwards;
    background: var(--primary);
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.building-blocks div:nth-child(1) {
    -webkit-transform: translate(-50%, -50%) translate(60%, 120%);
    transform: translate(-50%, -50%) translate(60%, 120%);
}

.building-blocks div:nth-child(2) {
    -webkit-transform: translate(-50%, -50%) translate(-60%, 120%);
    transform: translate(-50%, -50%) translate(-60%, 120%);
}

.building-blocks div:nth-child(3) {
    -webkit-transform: translate(-50%, -50%) translate(120%, 0);
    transform: translate(-50%, -50%) translate(120%, 0);
}

.building-blocks div:nth-child(4) {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.building-blocks div:nth-child(5) {
    -webkit-transform: translate(-50%, -50%) translate(-120%, 0);
    transform: translate(-50%, -50%) translate(-120%, 0);
}

.building-blocks div:nth-child(6) {
    -webkit-transform: translate(-50%, -50%) translate(60%, -120%);
    transform: translate(-50%, -50%) translate(60%, -120%);
}

.building-blocks div:nth-child(7) {
    -webkit-transform: translate(-50%, -50%) translate(-60%, -120%);
    transform: translate(-50%, -50%) translate(-60%, -120%);
}

.building-blocks div:nth-child(1):after {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.building-blocks div:nth-child(2):after {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.building-blocks div:nth-child(3):after {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.building-blocks div:nth-child(4):after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.building-blocks div:nth-child(5):after {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.building-blocks div:nth-child(6):after {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.building-blocks div:nth-child(7):after {
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s;
}

@media (max-width: 950px) {
    .movie {
        width: calc(100% / 3);
    }
}

@media (max-width: 768px) {

    #landing {
        height: 260px;
    }

    .container {
        min-height: calc(100vh - 260px);
    }

    .nav__link--anchor {
        font-size: 16px;
    }

    .nav__link--anchor-primary {
        padding: 8px 24px;
    }

    .header__title {
        font-size: 40px;
        margin-bottom: 24px;
    }

    .header__input--wrapper {
        max-width: 350px;
    }

    .header__input {
        height: 48px;
        font-size: 16px;
    }

    .header__input--btn {
        font-size: 24px;
    }

    .movie__header--title {
        font-size: 24px;
    }

    select {
        height: 40px;
        max-width: 200px;
    }

    .not-found__img--wrapper {
        width: 300px;
    }

    .not-found__title {
        max-width: 300px;
        font-size: 24px;
        margin-bottom: 8px;
    }

    .not-found__btn {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    .movie {
        width: 50%;
    }

    .movie__title {
        font-size: 18px;
    }

    .building-blocks {
        transform: scale(0.84);
    }

}

@media (max-width: 550px) {
    
    #landing {
        height: 220px;
    }

    .logo__img--wrapper {
        width: 75px;
    }

    .container {
        min-height: calc(100vh - 220px);
    }


    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .container{
        padding: 20px 0;
    }

    .header__container {
        margin-top: 16px;
    }

    .header__title {
        font-size: 32px;
        margin-bottom: 12px;
    }
    
    .header__input--wrapper {
        max-width: 250px;
    }

    .header__input {
        height: 40px;
        font-size: 16px;
    }

    .movie__header {
        flex-direction: column;
        margin-bottom: 8px;
    }

    .movie__header--title {
        font-size: 16px;
        margin-bottom: 8px;
    }

    select {
        height: 32px;
        max-width: 200px;
        font-size: 14px;
    }

    .movie {
        width: 100%;
        padding: 24px 16px;
    }

    .movie__title {
        font-size: 16px;
    }

    .building-blocks {
        transform: scale(0.76);
    }

}